<%- include('header') %>

    <h2> Semana de <%- weekDay %> de <%- month %> </h2>
    <br>
     <a class="assistencia" href="assistencia-grupo"><h3>Terça <%- weekDay + 2 %> de <%- month %> </h3></a>
    <br>
    <a class="assistencia" href="assistencia-grupo"><h3>Sábado <%- weekDay + 5 %> de <%- month %> </h3> </a>



