<%- include('../header') %>

    <h2> Semana de <%- weekDay %> de <%- month %> </h2>
    <br>
     <a class="assistencia" href="assistencia/grupos-ter"><h3>Terça <%- weekDay + 1 %> de <%- month %> </h3></a>
    <br>
    <a class="assistencia" href="assistencia/grupos-sab"><h3>Sábado <%- weekDay + 5%> de <%- month %> </h3> </a>



